In [1]:
import pandas as pd
# from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_excel('Online Retail.xlsx')

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.dropna(inplace=True)

In [6]:
df.shape

(406829, 8)

In [7]:
sub = df.sample(n=10000, random_state=1)

In [8]:
sub.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
443133,574691,22341,LOVE GARLAND PAINTED ZINC,3,2011-11-06 13:17:00,1.65,14174.0,United Kingdom
415129,572517,22562,MONSTERS STENCIL CRAFT,2,2011-10-24 14:47:00,1.25,15068.0,United Kingdom

In [16]:
cust = sub.groupby('CustomerID').size().sort_values(ascending=False)

In [28]:
cust.index == 12347.0

array([False, False, False, ..., False, False, False])

In [29]:
cust[cust.index == 12347.0]

CustomerID
12347.0    2
dtype: int64

In [34]:
thing = sub.groupby(['CustomerID', 'StockCode'], as_index=False).count()

In [36]:
thing[['CustomerID', 'StockCode']]

      CustomerID StockCode
0        12347.0     21035
1        12347.0     21791
2        12349.0     21564
3        12350.0     21171
4        12354.0     22623
...          ...       ...
9749     18283.0     82578
9750     18283.0     84380
9751     18283.0    85099B
9752     18287.0     47422
9753     18287.0    72349B

[9754 rows x 2 columns]