In [63]:
import pandas as pd
# from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_excel('Online Retail.xlsx')

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
import seaborn as sns 
import matplotlib.pyplot as plt

In [67]:
df.dropna(inplace=True)

In [71]:
sub = df.sample(n=10000, random_state=1)

In [72]:
sub.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
443133,574691,22341,LOVE GARLAND PAINTED ZINC,3,2011-11-06 13:17:00,1.65,14174.0,United Kingdom
415129,572517,22562,MONSTERS STENCIL CRAFT,2,2011-10-24 14:47:00,1.25,15068.0,United Kingdom

In [12]:
thing = sub.groupby(['CustomerID', 'StockCode'], as_index=False).count()

In [89]:
grouped_index = df.groupby(['CustomerID', 'StockCode'], as_index=False).size()

In [132]:
grouped_index['StockCode'] = grouped_index['StockCode'].astype(str)

In [134]:
grouped_index['StockCode'] += ' '

In [139]:
final = grouped_index.groupby(['CustomerID'], as_index=False)['StockCode'].sum()

In [141]:
final.head(2)

   CustomerID                                          StockCode
0     12346.0                                             23166
1     12347.0  16008 17021 20665 20719 20780 20782 20966 2103...

In [142]:
def tokenize(text):
    tokens = text.split()
    return tokens

In [145]:
final['StockCode'] = final['StockCode'].apply(lambda x: tokenize(x))

In [147]:
final

      CustomerID                                          StockCode
0        12346.0                                            [23166]
1        12347.0  [16008, 17021, 20665, 20719, 20780, 20782, 209...
2        12348.0  [21211, 21213, 21725, 21726, 21967, 21977, 219...
3        12349.0  [20685, 20914, 21086, 21136, 21231, 21232, 214...
4        12350.0  [20615, 20652, 21171, 21832, 21864, 21866, 219...
...          ...                                                ...
4367     18280.0  [22084, 22180, 22358, 22467, 22495, 22499, 226...
4368     18281.0  [22028, 22037, 22467, 22716, 23007, 23008, 23209]
4369     18282.0  [21108, 21109, 21270, 22089, 22423, 22424, 226...
4370     18283.0  [20676, 20712, 20717, 20718, 20719, 20723, 207...
4371     18287.0  [20961, 20963, 21014, 21232, 21382, 21481, 215...

[4372 rows x 2 columns]